.body {
    
    /* Projeto layout */


    position: absolute;
    width: 100%;
    height: 1000%;

    background: #202020;
    left: -720px;
    top: -2820px;
    border-radius: 0px;

}

.home{
    /* Projeto layout */


    position: relative;
    width: 100%;
    height: 100%;

    background: #202020;
}

.fixed-bar{
  /* Barra topo */


    position: fixed;
    width: 100%;
    height: 80px;
    /* left: calc(50% - 1440px/2); */
    top: 0px;
    z-index: 1;

    background: rgb(50, 50, 50);
    backdrop-filter: blur(20px);

}

.mylogo{
/* Logos */


position: absolute;
/* width: 138px;
height: 27px; */
left: 136px;
top: 20px;
max-width: 50%;
max-height: 50%;
}

.myname{
    position: absolute;
width: 138px;
height: 27px;
left: 10%;
top: 5px;

font-family: OCL A Std, monospace;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
letter-spacing: -0.5px;

color: #DEDEDE;
}

.icone{
    /* Icons */
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 358px;
height: 48px;
right: 100px;
top: 16px;





}

.wpp{
    /* Group */


position: static;
left: 29.02%;
right: 64.94%;
top: 27.38%;
bottom: 27.38%;
max-height: 100%;
max-width: 100%;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;

}

.git{
    position: static;
    left: 29.02%;
    right: 64.94%;
    top: 27.38%;
    bottom: 27.38%;
    max-height: 100%;
    max-width: 100%;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px; 
}

.linkedin{
    position: static;
left: calc(50% - 10px/2 + 0.52px);
bottom: 13px;
max-height: 100%;
max-width: 100%;


background: #959595;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 20px;

}

.email{
    
position: static;
left: 65.23%;
right: 29.02%;
top: 33.33%;
bottom: 33.33%;
max-height: 100%;
max-width: 100%;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 20px;

}

.page-title {

  /* Olá, sou o Lucas. A Product Designer based in City. */


  position: absolute;
width: 70%;
height: 25%;
left: 96px;
top: 220px;

}

.h1{
    /* Olá, sou o Lucas Sou Desenvolvedor Web */


    position: absolute;
    left: 0%;
    right: 31.92%;
    top: 0%;
    bottom: -33.33%;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 84px;
    /* or 119% */
    
    letter-spacing: -0.5px;
    
    color: #DEDEDE;
}

.page-subtitle {
        
position: absolute;
width: 60%;
height: 50%;
left: 96px;
top: 60%;


}

.line{
   
position: absolute;
left: 0%;
right: 44.05%;
top: 125%;
bottom: -11.98%;

border: 1px solid #FFFFFF;
}

.h2{
    position: absolute;
    left: 0%;
    right: 41.94%;
    top: 0%;
    bottom: -33.52%;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    /* or 150% */
    
    letter-spacing: -0.5px;
    
    color: #959595;
}

.imagem_eu{
    position: absolute;
width: 500px;
height: 500px;
left: 1200px;
top: 290px;

}

.projetos{
    position: relative;
width: 100%;
height: 100%;

background: #959595;

}
.projects{
    position: absolute;
width: 100%;
height: 49px;
/* left: 50%; */
top: 0px;

font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 49px;
text-align: center;
letter-spacing: -0.5px;

color: #202020;

}

.conhecimentos{
    
position: relative;
width: 100%;
height: 100%;

background: #202020;
}

.conheciments{
    position: absolute;
    width: 100%;
    height: 49px;
    /* left: 50%; */
    top: 0px;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #959595;
}
