.body {
    
    /* Projeto layout */


    position: absolute;
    width: 100%;
    height: 1000%;

    background: #202020;
    left: 100%;
    top: 0px;
    border-radius: 0px;

}

.home{
    /* Projeto layout */


    position: relative;
    width: 100%;
    height: 1080px;

    background: #202020;
}

.fixed-bar{
  /* Barra topo */


    position: fixed;
    width: 100%;
    height: 80px;
    /* left: calc(50% - 1440px/2); */
    top: 0px;
    z-index: 2;

    background: rgb(50, 50, 50);
    backdrop-filter: blur(20px);

}

.logo{
    position: absolute;
width: 20%;
height: 37px;
left: 7%;
top: 22px;
}

.mylogo{
/* Logos */


position: absolute;

left: 5px;
top: 0px;
max-width: 100%;
max-height: 100%;
}

.myname{
   position: absolute;
width: 140px;
height: 0px;
left: 60px;
top: 10px;

font-family: OCL A Std, monospace;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 10px;
letter-spacing: -0.5px;
max-height: 100%;
max-width: 100%;

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 20px;

color: #DEDEDE;
}

.icone{
    /* Icons */
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 358px;
height: 48px;
right: 100px;
top: 16px;





}

.wpp{
    /* Group */


position: static;
left: 29.02%;
right: 64.94%;
top: 27.38%;
bottom: 27.38%;
max-height: 100%;
max-width: 100%;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;

}

.git{
    position: static;
    left: 29.02%;
    right: 64.94%;
    top: 27.38%;
    bottom: 27.38%;
    max-height: 100%;
    max-width: 100%;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px; 
}

.linkedin{
    position: static;
left: calc(50% - 10px/2 + 0.52px);
bottom: 13px;
max-height: 100%;
max-width: 100%;


background: #959595;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 20px;

}

.email{
    
position: static;
left: 65.23%;
right: 29.02%;
top: 33.33%;
bottom: 33.33%;
max-height: 100%;
max-width: 100%;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 20px;

}

.page-title {
position: absolute;
width: 60%;
height: 10%;
left: 5%;
top: 35%;
z-index: 1;
}

.h1{
    position: absolute;
    left: 0%;
    right: 31.92%;
    top: 0%;
    bottom: -33.33%;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 600%;
    line-height: 119%;
    
    
    letter-spacing: -0.5px;
    
    color: #DEDEDE;
}

.page-subtitle {
        
position: absolute;
width: 60%;
height: 20%;
left: 5%;
top: 55%;
z-index: 1;

}

.line{
   
position: absolute;
left: 0%;


right: 44.05%;
top: 150%;
bottom: -11.98%;

border: 1px solid #FFFFFF;
}

.h2{
    position: absolute;
    left: 0%;
    right: 41.94%;
    top: 0%;
    bottom: -33.52%;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 50%;
    line-height: 40px;
    /* or 150% */
    
    letter-spacing: -0.5px;
    
    color: #959595;
}

.imagem_eu{
    position: absolute;
    width: 400px;
    height: 400px;
left: 60%;
top: 30%;

}

.projetos{
    position: relative;
width: 100%;
height: 100%;

background: #959595;

}

.projects{
    position: absolute;
width: 100%;
height: 49px;
/* left: 50%; */
top: 20px;

font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 49px;
text-align: center;
letter-spacing: -0.5px;

color: #202020;

}

.conhecimentos{
    
position: relative;
width: 100%;
height: 100%;

background: #202020;
}

.conheciments{
    position: absolute;
    width: 100%;
    height: 49px;
    /* left: 50%; */
    top: 20px;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #959595;
}
