@media only screen and (max-width: 400px) {
    .desktop{ display: none !important; }
    }
    
    @media only screen and (min-width: 500px) {
    .desktop-hide{ display: none !important; }
    } 
    @media only screen and (max-width: 500px) {
        .mobile-hide{ display: none !important; }
        }
                
.body {
    
    /* Projeto layout */

    
    position: relative;
    width: 100%;
    height: 8772px;
    
    background: #202020;

}

.home{

    position: relative;
    width: 100%;
    height: 715px;

    background: #202020;
}
.topbar{
    position: fixed;
width: 446px;
height: 72px;
left: 0px;
top: 0px;

}

.fixed-bar{

    position: fixed;
    width: 446px;
    height: 72px;
    left: calc(50% - 446px/2);
    top: 0px;
    
    background: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(20px);
z-index: 2;


}

.autolayout{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 355px;
height: 48px;
left: 1085px;
top: 16px;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 20px;

flex: none;
order: 2;
flex-grow: 0;
margin: 0px 20px;

flex: none;
order: 3;
flex-grow: 0;
margin: 0px 20px;

flex: none;
order: 4;
flex-grow: 0;
margin: 10px 20px;

}

.logo{

    
    position: absolute;
    width: 200px;
    height: 40.85px;
    left: 50%;
    top: 10px;
    

    
}

.mylogo{
/* Logos */


position: absolute;
width: 40px;
height: 40.85px;
right: 10%;
top: 2px;


}

.myname{
    position: absolute;
width: 150px;
height: 27px;
left: 0%;
top: 10px;

font-family: Manrope;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
letter-spacing: -0.5px;

color: #DEDEDE;
    

}

.wpp_moba{
position: static;
left: 100%;
/* right: 0%; */
top: 27.38%;
bottom: 27.38%;
max-height: 100%;
max-width: 100%;

}

.git_moba{
    position: static;
    left: 0%;
    right: 0%;
    top: 27.38%;
    bottom: 27.38%;
    max-height: 100%;
    max-width: 100%;

}

.linkedin_moba{
    position: static;
left: 0;
bottom: 13px;
max-height: 100%;
max-width: 100%;
}

.email_moba{
    
position: static;
left: 0%;
right: 0%;
top: 33.33%;
bottom: 33.33%;
max-height: 100%;
max-width: 100%;

}

.h1{
    position: absolute;
    width: 366px;
    height: 120px;
    left: 24px;
    top: 320px;
    
    font-family: Courier, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    /* or 111% */
    
    text-align: center;
    letter-spacing: -0.5px;
    
    color: #DEDEDE;
}

.line{

position: absolute;
left: 10%;


right: 10%;
top: 420px;


border: 1px solid #FFFFFF;
}

.h2{

    position: absolute;
    width: 366px;
    height: 112px;
    left: 24px;
    top: 450px;
    
    font-family: Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 28px;
    /* or 140% */
    
    text-align: center;
    letter-spacing: -0.5px;
    
    color: #959595;
}

.autolayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    
    position: absolute;
    width: 141px;
    height: 41px;
    left: 136px;
    top: 865px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}

.imagem_eu{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 27%;
    top: 100px;    
    
}

.projetos{
    position: relative;
    width: 100%;
    height: 1000px;
    top: 0px;

background: #959595;

    
    
    
}

.projects{
    position: absolute;
    width: 100%;
    height: 49px;
    /* left: 50%; */
    top: 0px;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.5px;
    
    
    
    color: #202020;

}

.plim{
    position: absolute;
    width: 75%;
    height: 200px;
    left: 5%;
    top: 100px;

}

.ise{
    position: absolute;
    width: 70%;
    height: 200px;
    left: 25%;
    top: 300px;
}

.facanha{
    position: absolute;
width: 70%;
height: 500px;
left: 15%;
top: 500px;
}

.conhecimentos{
    
position: relative;
width: 100%;
height: 300px;

background: #202020;
}

.conheciments{
    position: absolute;
    width: 100%;
    height: 49px;
    /* left: 50%; */
    top: 20px;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #959595;
}

.programing1{
    position: absolute;
    width: 20%;
    height: 100px;
    
left: 10%;
top: 80px;
}

.programing2{
    position: absolute;
    width: 20%;
    height: 100px;
    
left: 40%;
top: 80px;
}

.programing3{
    position: absolute;
    width: 20%;
    height: 100px;
    
left: 70%;
top: 80px;
}

.endbar{
    position: absolute;
width: 75%;
height: 1px;
left: 12%;
bottom: 60px;

background: #696969;
}

.assign{
    position: absolute;
width: 40%;
height: 36px;
left: 27%;
bottom: 10px;
text-align: center;

font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 36px;


letter-spacing: -0.5px;

color: #696969;
}

#menuToggle
{
  display: block;
 
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;

 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  

     position: absolute;
width: 20%;
height: 37px;
left: 10%;
top: 22px;
}
#menuToggle a
{
  text-decoration: none;
  color: #141414;
  
  transition: color 0.3s ease;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
    /* X */
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ececec;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#icone_moba
{
    position: absolute;
    left: -25%;
    width: 75px;
    /* height: 10px; */
    /* margin: -100px 0 0 -50px; */
    padding: 0px;
    padding-top: 25px;
    
    background: rgba(50, 50, 50, 0.7);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(0, -150%);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}


#icone_moba li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}

    
/*  
                /
               /   ______
              /   /
             /__ /___
                /
               /
*/

